{% extends 'BaseOwner.html' %}

{% block title %} Summary {% endblock %}

{% block content %}

<div class = 'row'>
  <div class = 'page-header'>
    <h1> Today's Summary - {{today }}</h1>
  </div>
</div>


{% if eod_cash %}
<div class = 'row'>
  <h2> Petrol Station Overview</h2>
</div>
<div class = 'summary'>
  <div class = 'row'>
    <div class = 'col-md-3'>
      <div class = 'panel panel-primary'>
        <div class = 'panel-heading'>
          <h4>EOD Cash Balance</h4>
        </div>
        <div class = 'panel-body'>
          <h4>{{eod_cash}}</h4>
        </div>
      </div>
    </div>

  <div class = 'col-md-3'>
    <div class = 'panel panel-info'>
      <div class = 'panel-heading'>
        <h4> Revenue from Sales</h4>
      </div>
      <div class = 'panel-body'>
        <h4>{{tot_revenue}}</h4>
      </div>
    </div>
  </div>

  <div class = 'col-md-3'>
    <div class = 'panel panel-danger'>
      <div class = 'panel-heading'>
        <h4> Expenses </h4>
      </div>
      <div class = 'panel-body'>
        <h4> {{total_expenditure}}</h4>
      </div>
    </div>
  </div>

  <div class = 'col-md-3'>
    <div class = 'panel panel-danger'>
      <div class = 'panel-heading'>
        <h4>Today's Credit Sales</h4>
      </div>
      <div class = 'panel-body'>
        <h4>{{total_Credit_sales}}</h4>
      </div>
    </div>
  </div>
</div>
</div>
{% else %}
<div class = 'row'>
    <h2> Petrol Station Overview</h2>
    <div class = 'alert alert-warning'>
    <p> Today's Transactions haven't been approved by the Manager</p>
    <a href = '{% url 'Calculate' %}'> Visit Details Page </a>
  </div>
</div>

{% endif %}

<hr/>

<!-- SUMMARY -->

<div class = 'row'>
  <h2> Movie Sales for the day</h2>
</div>

<div class="summary">
  <div class="row">
    {% if bills_sum %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ bills_sum }}</h3>
          <p>Total Gross Sales</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if total_expense %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{total_expense}}</h3>
          <p>Total Taxes</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if net_profit %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ net_profit }}</h3>
          <p>Net Profit</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if exhi_share %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ exhi_share }}</h3>
          <p>Exhi Share - ( Distributor: Rs.{{ distributor_share }})</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<hr/>

{% if noon_gross %}
<div class="summary">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ noon_gross }}</h3>
          <p>Noon Show Gross</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if matinee_gross %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ matinee_gross }}</h3>
          <p>Matinee Show Gross</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if firstshow_gross %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{firstshow_gross}}</h3>
          <p>First Show Gross</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if secondshow_gross %}
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ secondshow_gross }}</h3>
          <p>Second Show Gross</p>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
