{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap -->
  <!--<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">-->
  <!-- 3rd party -->
  <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->
  <!-- Custom -->
  <!--<link href="{% static "css/custom.css" %}" rel="stylesheet">-->

  <link rel="stylesheet" href="bootstrap-table.css">

    <!-- Bootstrap -->
  <link href="http://impressivefirm.com/prvfuels/css/bootstrap.min.css" rel="stylesheet">
  <!-- 3rd party -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom -->
  <link href="http://impressivefirm.com/prvfuels/css/custom.css" rel="stylesheet">


  <!-- trying datepicker -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header id="header">
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src = 'http://impressivefirm.com/prvfuels/img/logoprv.png'/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class = 'logout'><a href="{% url 'logout' %}"><small><btn class = 'btn btn-danger'>Logout &nbsp;</small></btn></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div id="wrapper">
    <div id="sidebar-wrapper"><!-- Sidebar -->
      <a href="#" class="sidebar-app">
        <img src="http://impressivefirm.com/prvfuels/img/kkk.png" alt="" class="img-responsive">
        <div class="appname">
          <span class="applabel">Daily Cash Flow</span>
        </div>
      </a>
       <ul class="nav nav-pills nav-stacked sidebar-nav">
        <li class="first"><a href="{% url 'mainpage' %}"><i class="fa fa-home"></i>Dashboard</a></li>
        <li class="sidebar-header">Petrol Bunk</li>
        <li><a href="{% url 'Calculate' %}"><i class="fa fa-circle"></i>Todays Transactions</a></li>
        <li><a href="{% url 'summary' %}"><i class="fa fa-circle"></i>Past Transactions</a></li>
        <!-- <li><a href="#"><i class="fa fa-plus"></i>Closing Dip Calculations</a></li> -->
        <!-- <li><a href="#"><i class="fa fa-plus"></i>Dip Purchases</a></li> -->
        <li class="sidebar-header">Events</li>
        <li><a href="{% url 'allInvoice' %}"><i class="fa fa-circle"></i>Todays Transactions</a></li>
        <li><a href="{% url 'cinema_summary' %}"><i class="fa fa-circle"></i>Past Transactions</a></li>
        <!-- <li><a href="#"><i class="fa fa-plus"></i>Payments By Credit Card</a></li> -->
        <li class="sidebar-header"> Cinema</li>
        <li><a href="{% url  'CollectionReport' %}"><i class="fa fa-circle"></i>Todays Transactions</a></li>
        <!-- <li class="sidebar-header">Expenses</li> -->
        <li><a href="{% url 'cinema_summary' %}"><i class="fa fa-circle"></i>Past Transactions</a></li>
        <!--<li><a href="#"><i class="fa fa-circle"></i>Expenses</a></li>-->
      </ul> -->
    </div><!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper"><!-- Page Content -->
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div><!-- .container-fluid -->
    </div><!-- /#page-content-wrapper -->

  </div><!-- /#wrapper -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <!-- Custom JS -->
  <script src="{% static "js/custom.js" %}"></script>
  <!-- Trying datepicker -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://impressivefirm.com/prvfuels/js/bootstrap.min.js"></script>
  <!-- Custom JS -->
  <script src="http://impressivefirm.com/prvfuels/js/custom.js"></script>
  <script>
  $(document).ready(function() {
    $(".datepicker").datepicker();
  });
  </script>
  <!-- end datepicker -->
  <script src="jquery.min.js"></script>
  <script src="bootstrap-table.js"></script>
</body>
</html>
