{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PRV FUELS </title>

  <!-- Bootstrap -->
  <link href="http://impressivefirm.com/prvfuels/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom Style -->
  <link href="http://impressivefirm.com/prvfuels/css/custom.css" rel="stylesheet" type="text/css">
  <link href="http://impressvefirm.com/prvfuels/css/animate.css" rel="stylesheet" type="text/css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>

  <section class="main-body">
  	<div class="header">
  		<div class="container">
  			<div class="logo pull-left">
  				<img src="http://impressivefirm.com/prvfuels/img/logoprv.png">
  			</div>

  			<div class="login pull-right">
  				<a href="#" data-toggle="modal" data-target="#login-modal"><btn class="btn btn-success btn-block">Login Here</btn></btn></a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form action = '' method = 'POST'>
					<!-- <input type="text" name="user" placeholder="Username"> -->
					<!-- <input type="password" name="pass" placeholder="Password"> -->
          {% csrf_token %}
          {{user}}
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>

				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
  			</div>
  		</div>
  	</div>
  <div class="billboard">
  	<div class="container">
  		<div class="welcome-text">
  		<center><h1>WELCOME TO PRV GROUP ADMIN</h1></center>

  		</div>
  	</div>
  </div>
  </section>
  <div class="footer">
  	<div class="container">
  		<div class="copy">
  			<center><h5>&copy;2015 Prvfuels All Rights Reserved.Designed And Maintained By W3Leverage.com </h5></center>
  		</div>
  	</div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://impressivefirm.com/prvfuels/js/bootstrap.min.js"></script>
    <script src="http://impressivefirm.com/prvfuels/js/wow.js"></script>
    <script src="http://impressivefirm.com/prvfuels/js/odometer.min.js"></script>
    <script src="http://impressivefirm.com/prvfuels/js/myscripts.js"></script>
    <script>
    	$('.odometer').html(123)
    </script>
    <script>
    	document.querySelector("#myCard").classList.toggle("flip")
    </script>
  </body>
</html>
