{% extends "cinema/base.html" %}

{% block content %}
<div class="page-header">
  <h1 class="pull-left">Add Distributor Share</h1>
  <div class="pull-right">
    <a href="{% url "addCollection" %}" class="btn btn-primary">Add Collection Entry</a>
  </div>
  <div class="clearfix"></div>
</div><!-- page-header -->
<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <form action="." method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default">Add Movie</button>
    </form>
  </div>
</div>
<div class="listshare">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Movie</th>
        <th>Distributor</th>
      </tr>
    </thead>
    <tbody>
      {% for m in movies %}
      <tr>
        <td>{{ m.name }}</td>
        <td>{{ m.distributor }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
