{% extends "cinema/base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <form action="." method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default">Add Entry</button>
    </form>
  </div>
</div>
{% endblock %}
