{% extends "cinema/base.html" %}

{% block content %}
<div class="page-header">
  <h1 class="pull-left">Add Other Expenses / Taxes</h1>
  <div class="pull-right">
    <a href="{% url "addCollection" %}" class="btn btn-primary">Add Collection Entry</a>
  </div>
  <div class="clearfix"></div>
</div><!-- page-header -->
<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <form action="." method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default">Save Taxes &amp; Expenses</button>
    </form>
  </div>
</div>
<div class="listshare">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>KFCC</th>
        <th>Representative Bata</th>
        <th>INT</th>
        <th>Total Taxes / Expenses</th>
      </tr>
    </thead>
    <tbody>
      {% for bill in bills %}
      <tr>
        <td>{{ bill.date }}</td>
        <td>{{ bill.kfcc }}</td>
        <td>{{ bill.rep_bata }}</td>
        <td>{{ bill.inr }}</td>
        <td>{{ bill.total }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
