{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="http://impressivefirm.com/prvfuels/css/bootstrap.min.css" rel="stylesheet">
  <!-- 3rd party -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom -->
  <link href="http://impressivefirm.com/prvfuels/css/custom.css" rel="stylesheet">

  <!-- trying datepicker -->
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header id="header">
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src = 'http://impressivefirm.com/prvfuels/img/logoprv.png'/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class = 'date'>Today : {% now  'DATE_FORMAT' %}</li>
            <li class = 'logout'><a href="{% url 'logout' %}"><small><btn class = 'btn btn-danger'>Logout &nbsp;</small></btn></a></li>
            {% if request.user.userprofile.location == 'M' %}
            <li class = 'owner'><a href = '{% url 'mainpage' %}'><btn class ='btn btn-success'><i class = 'fa fa-user'></i> Return to Home screen</btn></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div id="wrapper">
    <div id="sidebar-wrapper"><!-- Sidebar -->
      <a href="#" class="sidebar-app">
        <img src="http://impressivefirm.com/prvfuels/img/jjj.png" alt="" class="img-responsive">
        <div class="appname">
          <span class="applabel"><center>Events</center></span>
        </div>
      </a>
      <ul class="nav nav-pills nav-stacked sidebar-nav">
        <li class="first"><a href="{% url "CollectionReport" %}"><i class="fa fa-home"></i>Dashboard</a></li>
        <li class="sidebar-header">CINEMA</li>
        <li><a href="{% url "CollectionReport" %}"><i class="fa fa-ticket"></i>Collection Report</a></li>
        <li><a href="{% url "addCollection" %}"><i class="fa fa-plus"></i>Add Collection Entry</a></li>
        <li><a href="{% url "addDayExp" %}"><i class="fa fa-film"></i>Add Other Taxes</a></li>
        <li><a href="{% url "addShare" %}"><i class="fa fa-film"></i>Add Distributor Share</a></li>
        <li><a href="{% url "addMovie" %}"><i class="fa fa-film"></i>Add Movie</a></li>
        <li class="sidebar-header">Events</li>
        <li><a href="{% url "allInvoice" %}"><i class="fa fa-history"></i>Invoice History</a></li>
        <li><a href="{% url "AddInvoice" %}"><i class="fa fa-plus"></i>Add Open Invoice</a></li>
        <li><a href = '#'>placeholder</a></li>
        <li><a href = '#'>placeholder</a></li>
      </ul>
    </div><!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper"><!-- Page Content -->
      <div class="container-fluid">
        {% block content %}
        {% endblock %}
      </div><!-- .container-fluid -->
    </div><!-- /#page-content-wrapper -->

  </div><!-- /#wrapper -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="http://impressivefirm.com/prvfuels/js/bootstrap.min.js"></script>
  <!-- Custom JS -->
  <script src="http://impressivefirm.com/prvfuels/js/custom.js"></script>
  <!-- Trying datepicker -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script>
  $(document).ready(function() {
    $(".datepicker").datepicker();
  });
  </script>
  <!-- end datepicker -->
</body>
</html>
