{% extends "cinema/base.html" %}

{% block content %}

{% if datesum %}
<div class ='container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class = 'panel-heading'>
          <h3 class = 'panel-title'> Pick a Date</h3>
        </div>
        <div class = 'panel-body'>
          <form method = 'POST' action = ''>
            {% csrf_token %}
            {{datesum}}
            <input type ='submit' value = 'submit'/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if cinema_bills %}
<div class ='row'>
  <h2>Cinema Summary</h2>
</div>
<div class = 'row'>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Show</th>
        <th>Movie</th>
        <th>Seat</th>
        <th>Seats (From)</th>
        <th>Seats (To)</th>
        <th>Total Sold</th>
        <th>Rate (Rs.)</th>
        <th>Tax (Rs.)</th>
        <th>Gross Sales</th>
        <th>Total Tax</th>
      </tr>
    </thead>
    <tbody>
      {% for bill in cinema_bills %}
      <tr>
        <td>{{ bill.date}}</td>
        <td>{{ bill.show }}</td>
        <td>{{ bill.movie }}</td>
        <td>{{ bill.seat }}</td>
        <td>{{ bill.ticket1 }}</td>
        <td>{{ bill.ticket2 }}</td>
        <td>{{ bill.total_ticket }}</td>
        <td>{{ bill.rate }}</td>
        <td>{{ bill.tax }}</td>
        <td>{{ bill.gross_sales }}</td>
        <td>{{ bill.total_tax }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if invoice_bills %}
<div class = 'row'>
  <h2> Events Overview</h2>
</div>
<div class = 'row'>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Type of Event</th>
        <th>Booking Date</th>
        <th>Event Date</th>
        <th>Booked By</th>
        <th>Amount</th>
        <th>Advance</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      {% for bill in invoice_bills %}
      <tr>
        <td>{{ bill.event }}</td>
        <td>{{ bill.booking_date }}</td>
        <td>{{ bill.event_date }}</td>
        <td>{{ bill.name }}</td>
        <td>{{ bill.total }}</td>
        <td>{{ bill.advance }}</td>
        <td>{{ bill.balance }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
