{% extends "cinema/base.html" %}

{% block content %}
<div class="page-header">
  <h1 class="pull-left">Collection Report <small>For {{ value|date }}</small></h1>
  <div class="pull-right">
    <a href="{% url 'addCollection' %}" class="btn btn-primary">Add Collection Entry</a>
  </div>
  <div class="clearfix"></div>
</div><!-- page-header -->

<!-- SUMMARY -->
<div class="summary">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ bills_sum }}</h3>
          <p>Total Gross Sales</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{total_expense}}</h3>
          <p>Total Expenses</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ net_profit }}</h3>
          <p>Net Profit</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ exhi_share }}</h3>
          <p>Exhi Share - ( Distributor: Rs.{{ distributor_share }})</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SUMMARY END -->

{% if noon %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Show</th>
      <th>Seat</th>
      <th>Movie (Distributor)</th>
      <th>Seats (From)</th>
      <th>Seats (To)</th>
      <th>Total Sold</th>
      <th>Rate (Rs.)</th>
      <th>Tax (Rs.)</th>
      <th>Gross Sales</th>
      <th>Total Tax</th>
    </tr>
  </thead>
  <tbody>
    {% for bill in noon %}
    <tr>
      <td>{{ bill.show }}</td>
      <td>{{ bill.seat }}</td>
      <td>{{ bill.movie }}</td>
      <td>{{ bill.ticket1 }}</td>
      <td>{{ bill.ticket2 }}</td>
      <td>{{ bill.total_ticket }}</td>
      <td>{{ bill.rate }}</td>
      <td>{{ bill.tax }}</td>
      <td>{{ bill.gross_sales }}</td>
      <td>{{ bill.total_tax }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if matinee %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Show</th>
      <th>Seat</th>
      <th>Movie (Distributor)</th>
      <th>Seats (From)</th>
      <th>Seats (To)</th>
      <th>Total Sold</th>
      <th>Rate (Rs.)</th>
      <th>Tax (Rs.)</th>
      <th>Gross Sales</th>
      <th>Total Tax</th>
    </tr>
  </thead>
  <tbody>
    {% for bill in noon %}
    <tr>
      <td>{{ bill.show }}</td>
      <td>{{ bill.seat }}</td>
      <td>{{ bill.movie }}</td>
      <td>{{ bill.ticket1 }}</td>
      <td>{{ bill.ticket2 }}</td>
      <td>{{ bill.total_ticket }}</td>
      <td>{{ bill.rate }}</td>
      <td>{{ bill.tax }}</td>
      <td>{{ bill.gross_sales }}</td>
      <td>{{ bill.total_tax }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if firstshow %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Show</th>
      <th>Seat</th>
      <th>Movie (Distributor)</th>
      <th>Seats (From)</th>
      <th>Seats (To)</th>
      <th>Total Sold</th>
      <th>Rate (Rs.)</th>
      <th>Tax (Rs.)</th>
      <th>Gross Sales</th>
      <th>Total Tax</th>
    </tr>
  </thead>
  <tbody>
    {% for bill in noon %}
    <tr>
      <td>{{ bill.show }}</td>
      <td>{{ bill.seat }}</td>
      <td>{{ bill.movie }}</td>
      <td>{{ bill.ticket1 }}</td>
      <td>{{ bill.ticket2 }}</td>
      <td>{{ bill.total_ticket }}</td>
      <td>{{ bill.rate }}</td>
      <td>{{ bill.tax }}</td>
      <td>{{ bill.gross_sales }}</td>
      <td>{{ bill.total_tax }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if secondshow %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Show</th>
      <th>Seat</th>
      <th>Movie (Distributor)</th>
      <th>Seats (From)</th>
      <th>Seats (To)</th>
      <th>Total Sold</th>
      <th>Rate (Rs.)</th>
      <th>Tax (Rs.)</th>
      <th>Gross Sales</th>
      <th>Total Tax</th>
    </tr>
  </thead>
  <tbody>
    {% for bill in noon %}
    <tr>
      <td>{{ bill.show }}</td>
      <td>{{ bill.seat }}</td>
      <td>{{ bill.movie }}</td>
      <td>{{ bill.ticket1 }}</td>
      <td>{{ bill.ticket2 }}</td>
      <td>{{ bill.total_ticket }}</td>
      <td>{{ bill.rate }}</td>
      <td>{{ bill.tax }}</td>
      <td>{{ bill.gross_sales }}</td>
      <td>{{ bill.total_tax }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<!-- SUMMARY -->
<div class="summary">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ noon_gross }}</h3>
          <p>Noon Show Gross</p>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ matinee_gross }}</h3>
          <p>Matinee Show Gross</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{firstshow_gross}}</h3>
          <p>First Show Gross</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ secondshow_gross }}</h3>
          <p>Second Show Gross</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- SUMMARY END -->

{% endblock %}
