{% extends "cinema/base.html" %}

{% block content %}
<div class="page-header">
  <h1 class="pull-left">Add Movie Show Entry</h1>
  <div class="pull-right">
    <a href="{% url "AddInvoice" %}" class="btn btn-primary">Add Collection Entry</a>
  </div>
  <div class="clearfix"></div>
</div><!-- page-header -->
<div class="row">
  <div class="col-md-12">
    <form action="." method="post">{% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default">Add Entry</button>
    </form>
  </div>
</div>
{% endblock %}
