{% extends "cinema/base.html" %}

{% block content %}
<div class="page-header">
  <h1 class="pull-left">Showing All Invoice</h1>
  <div class="pull-right">
    <a href="{% url "AddInvoice" %}" class="btn btn-primary">Add Collection Entry</a>
  </div>
  <div class="clearfix"></div>
</div><!-- page-header -->

<!-- SUMMARY -->
<!-- <div class="summary">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>32,000</h3>
          <p>Total Amount</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>32,000</h3>
          <p>Total Amount</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>32,000</h3>
          <p>Total Amount</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>32,000</h3>
          <p>Total Amount</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- SUMMARY END -->

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Type of Event</th>
      <th>Booking Date</th>
      <th>Event Date</th>
      <th>Booked By</th>
      <th>Amount</th>
      <th>Advance</th>
      <th>Balance</th>
    </tr>
  </thead>
  <tbody>
    {% for bill in bills %}
    <tr>
      <td>{{ bill.event }}</td>
      <td>{{ bill.booking_date }}</td>
      <td>{{ bill.event_date }}</td>
      <td>{{ bill.name }}</td>
      <td>{{ bill.total }}</td>
      <td>{{ bill.advance }}</td>
      <td>{{ bill.balance }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
