/* HEADER / NAVBAR */
#header .navbar-inverse {
  margin-bottom: 0;
}

/* WRAPPER */
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFF;
    box-shadow: 5px 0 5px -5px #777;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

/* Sidebar Styles */
.sidebar-app {
  display: block;
  position: relative;
}

.sidebar-app .appname {
  background: #999;
  opacity: 0.4;
  color: #FFF;
  position: absolute;
  bottom:0;
  padding: 10px;
  width: 100%;
}

.sidebar-app .appname .applabel {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
}

.sidebar-nav li.sidebar-header {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px;
  padding-bottom: 5px;
}

.sidebar-nav li.first {
  margin-top: 10px;
}

.sidebar-nav li a {
  border-radius: 0;
}

.sidebar-nav li i {
  margin-right: 10px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 230px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*
* PAGE-HEADER
*/
.page-header {
  margin: 20px 0 40px 0;
}

.page-header h1 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

/* SUMMARY */
.summary {
  margin-bottom: 20px;
}

.summary h3 {
  margin: 10px 0;
  font-size: 26px;
}

.summary p {
  border-top: 1px solid #CCC;
  padding-top: 10px;
}

/*Entry today*/
.entry-today {
  margin-bottom: 40px;
}


