{% extends "basepetrol.html" %}

{% block title %}Enter your date{% endblock %}
{% block content %}
{% if date %}
<div class = 'summary'>
  <div class = 'row'>
    <div class = 'col-md-6'>
      <h2> Summary for : {{date}}</h2>
    </div>
  </div>
</div>
<hr/>
{% if eod_cash %}
<h2> Closing Cash Balance for the day</h2>
<div class = 'summary'>
  <div class = 'row'>
    <div class = 'col-md-3'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>
          {% for eod in eod_cash %}
          <h3>{{eod.Closing_Cash_Balance}}</h3>
          <p> Closing Cash Balance</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endif %}

<!-- eod_cash -->
<div class = 'container'>
<h2> Breakdown</h2>
</div>
{% if revenue_balance %}
<div class = 'summary'>
  <div class = 'row'>
    <div class = 'col-md-3'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>
          {% for rev in revenue_balance %}
          <h3>{{rev.Total_balances}}</h3>
          <p> Revenue</p>
          {% endfor %}
        </div>
      </div>
    </div>
{% endif %}
{% if tot_cash %}
    <div class = 'col-md-3'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>
          <h3>{{tot_cash}}</h3>
          <p>Cash Recieved from Previous Credit Sales</p>
        </div>
      </div>
    </div>
{% endif %}
{% if total_expenses %}
    <div class = 'col-md-3'>
      <div class = 'panel panel-default'>
        <div class = 'panel-body'>
          <h3>{{total_expenses}}</h3>
          <p>Total Expenses</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% else %}
<div class ='container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class = 'panel-heading'>
          <h3 class = 'panel-title'> Pick a Date</h3>
        </div>
        <div class = 'panel-body'>
          <form method = 'POST' action = ''>
            {% csrf_token %}
            {{datesum}}
            <input type ='submit' value = 'submit'/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
