{% extends "basepetrol.html" %}

{% block title %}Enter details of Credit Card transactions{% endblock %}
{% block content %}
{% if not already_committed %}
<div class="container">
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class="panel-heading">
          <h3 class="panel-title">Add Entry</h3>
        </div>
            <div class = 'panel-body'>
              <form method = 'POST' action = ''>
                {% csrf_token %}
                  {{card}}
                  <input type ='submit' value = 'submit'/>
              </form>
            </div>
        </div>
    </div>
  </div>
</div>
{% endif %}
<hr/>

{% if table %}
<h1> Credit Card Payment Summary</h1>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Bank</th>
            <th>Amount</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for tab in table %}
          <tr>
            <td>{{tab.Date}}</td>
            <td>{{tab.Bank}}</td>
            <td>{{tab.Amount}}</td>
            {% if not already_committed %}
            <td><a href = '/CashFlow/creditcards/{{tab.pk}}/Delete'>Delete</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</div>
{% endif %}
{% if card_payments %}
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Total</h3>
            </div>
            <div class="panel-body">
            <h5>{{card_payments}} Rs.</h5>
            </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
