{% extends "basepetrol.html" %}

{% block title %} Enter Credit Details {% endblock %}


{% block content %}
{% if not already_committed %}
  <div class="container">
    <div class = 'row'>
      <div class = 'col-md-9'>
        <div class = 'panel panel-primary'>
          <div class="panel-heading">
            <h3 class="panel-title">Add Entry</h3>
          </div>
              <div class = 'panel-body'>
                <form method = 'POST' action = ''>
                  {% csrf_token %}
                  {{ Cash_Credit.as_p}}
                  <input type ='submit' value = 'submit'/>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<hr/>
  {% if table %}
  <h1> Cash from Credit Sales Summary</h1>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-md-9'>
        <table class = 'table table-bordered'>
          <thead>
            <th>Date</th>
            <th>Vehicle No.</th>
            <th>Reciept</th>
            <th>Rate</th>
            <th>Amount</th>
          </thead>
          <tbody>
            {% for tab in table %}
          <tr>
            <td>{{tab.Date}}</td>
            <td>{{tab.VehicleNo}}</td>
            <td>{{tab.RecieptNo}}</td>
            <td>{{tab.rate}}</td>
            <td>{{tab.Cash_Amount}}</td>
            {% if not already_committed %}
            <td><a href = '/CashFlow/Cash-from-credit/{{tab.pk}}/Delete'>Delete</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
{% if total_credit %}
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Total</h3>
        </div>
          <div class="panel-body">
            <h5>{{total_credit}} Rs.</h5>
          </div>
        </div>
      </div>
    </div>
</div>
    {% endif %}

{% endblock %}
