{% extends "basepetrol.html" %}

{% block title %} Enter Credit Sales{% endblock %}


{% block content %}
{% if not already_committed %}
<div class="container">
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class = 'panel-heading'>
          <h3 class ='panel-title'>Add Entry</h3>
        </div>
        <div class = 'panel-body'>
          <form method= 'POST' action = ''>
          {% csrf_token %}
            {{Credit.as_p}}
          <input type = 'submit' value ='submit'/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<hr/>
{% if table %}
<h1> Credit Sales Summary</h1>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Customer name</th>
            <th>Customer address</th>
            <th>Vehicle Number</th>
            <th>Reciept Number</th>
            <th>Product</th>
            <th>Litres </th>
            <th>Rate</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
        {% for tab in table %}
        <tr>
          <td>{{tab.Date}}</td>
          <td>{{tab.Customer_name}}</td>
          <td>{{tab.Customer_address}}</td>
          <td>{{tab.VehicleNo}}</td>
          <td>{{tab.RecieptNo}}</td>
          <td>{{tab.product}}</td>
          <td>{{tab.litres}}</td>
          <td>{{tab.rate}}</td>
          <td>{{tab.Credit_Amt}}</td>
          {% if not already_committed %}
          <td><a href = '/CashFlow/Credit-details/{{tab.pk}}/Delete'>Delete</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endif %}

{% if total_credit %}
<div class ='container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-default'>
        <div class = 'panel-heading'>
          <h3 class = 'panel-title'>Total</h3>
        </div>
        <div class = 'panel-body'>
          <h5>{{total_credit}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
