{% extends "basepetrol.html" %}

{% block title %}Enter Closing Dip Balances{% endblock %}


{% block content %}

{% if table %}
<h1> Closing Dip Calculation</h1>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class = 'panel-heading'>Closing Dip</div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date</th>
                <th>16 KL Petrol Dip</th>
                <th>16 KL Petrol Litres</th>
                <th>16 KL Diesel Dip</th>
                <th>16 KL Diesel Litres</th>
                <th>22 KL Diesel Dip</th>
                <th>22 KL Diesel Litres</th>
              </tr>
            </thead>
            <tbody>
            {% for tab in table %}
            <tr>
              <td>{{tab.Date}}</td>
              <td>{{tab.Petrol_16kl_closing_dip}}</td>
              <td>{{tab.Petrol_16kl_closing_litres}}</td>
              <td>{{tab.Diesel_16kl_closing_dip}}</td>
              <td>{{tab.Diesel_16kl_closing_litres}}</td>
              <td>{{tab.Diesel_22kl_closing_dip}}</td>
              <td>{{tab.Diesel_22kl_closing_litres}}</td>
              {% if not already_committed %}
              <td><a href = '/CashFlow/dip-chart/{{tab.pk}}/Delete'>Delete</a></td>
              {% endif %}
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>


  {% else %}
  <div class="container">
    <div class =  'row'>
      <div class = 'col-md-9'>
        <div class = 'panel panel-primary'>
          <div class = 'panel-heading'>
            <h3 class = 'panel-title'>Add Dip Measures</h3>
          </div>
          <div class = 'panel-body'>
            <form method = 'POST' action = ''>
              {% csrf_token %}
              {{dip.as_p}}
              <input type ='submit' value = 'submit'/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endif %}


{% endblock %}
