{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <header id="header">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header"><a href="#" class="navbar-brand">LOGO HERE</a></div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="{% url "Calculate" %}">Dashboard</a></li>
            <li><a href="{% url "calculate_daily_sales" %}">Daily Meter Readings</a></li>
            <li><a href = "{% url "calculate_rates" %}"> Enter Daily Petrol Rates</a></li>
            <li><a href = '{% url 'closing-dip' %}'>Closing Dip</a></li>
            <li><a href = '{% url 'dip-purchase' %}'>Dip Purchases </a></li>
            <li><a href ="{% url "other_revenue" %}">Revenue from other streams </a></li>
            <li><a href="{% url "cash_from_credit" %}">Cash Recieved for previous Credit Sales</a></li>
            <li><a href="{% url "Credit" %}">Credit Sales for the day</a></li>
            <li><a href = "{% url 'Credit_Card' %}">Credit Card Payments </a></li>
            <li><a href="{% url "Expenditure" %}">Expenditure</a></li>
            <li><a href = '{% url 'logout' %}'>Logout </a></li>
            <!-- <li><a href = '{% url "Calculate" %}'>Calculate</a></li> -->
          </ul><!-- /.navbar-nav -->
        </div><!-- /.collapse -->
      </div>  <!-- /.container -->
    </nav><!-- /.nav -->
  </header>
  <div class = 'container'>
  {% if user.is_authenticated %}
<h1> Hello {{request.user.username}}</h1>
  {% endif %}
</div>
  {% block content %}
  {% endblock %}

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
