<!Doctype HTML>
<html>
<head><title> User login </title></head>

  <body>
    <form action = '' method = 'POST'>
      {% csrf_token %}
    {{user}}
    <input type = 'submit' value = 'submit'/>
  </form>
  </body>

</html>
