{% extends "basepetrol.html" %}

{% block title %}Enter Income from other Revenue Streams{% endblock %}


{% block content %}
{% if not already_committed %}
<div class="container">
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class = 'panel-heading'>
          <div class = 'panel-title'> Add Entry</div>
        </div>
        <div class = 'panel-body'>
          <form method = 'POST' action = ''>
            {% csrf_token %}
            {{other_revenue}}
          <input type ='submit' value = 'submit'/>
          </form>
        </div>
      </div>
  </div>
</div>
</div>
{% endif %}
<hr/>
  {% if table %}
  <h1> Summary of Income from Other Revenue Streams</h1>
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-md-9'>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Date</th>
              <th>Item Name</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for tab in table %}
            <tr>
              <td>{{tab.Date}}</td>
              <td>{{tab.Item}}</td>
              <td>{{tab.qty}}</td>
              <td>{{tab.rate}}</td>
              <td>{{tab.Amount}}</td>
              {% if not already_committed %}
              <td><a href = '/CashFlow/Other-revenue/{{tab.pk}}/Delete'>Delete</a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</div>
  {% endif %}
  {% if total_revenue %}
  <div class = 'container'>
    <div class = 'row'>
      <div class = 'col-md-9'>
        <div class = 'panel panel-default'>
          <div class = 'panel-heading'>
            <h3 class = 'panel-title'>Total</h3>
          </div>
          <div class = 'panel-body'>
            <h5>{{total_revenue}}</h5>
          </div>
        </div>
      </div>
    </div>
    </div>
  {% endif %}

{% endblock %}
