{% extends "basepetrol.html" %}

{% block title %} Enter Daily Petrol/Diesel Rates{% endblock %}


{% block content %}
<!-- <div class="container">
  <form method = 'POST' action = ''>
    {% csrf_token %}
      {{Rates_form}}
  <input type ='submit' value = 'submit'/>
</form> -->

{% if table %}
<h1> Today's Meter Rates</h1>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class="panel-heading"> Meter Rates</div>
              <table class = 'table table-bordered'>
                <thead>
                  <tr>
                    <th>Petrol</th>
                    <th>Diesel</th>
                    {% if not already_committed %}
                    <th>Delete</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for tab in table %}
                  <tr>
                    <td>{{tab.Petrol_rate}}</td>
                    <td>{{tab.Diesel_rate}}</td>
                    {% if not already_committed %}
                    <td><a href = '/CashFlow/SalesForm/Rates/{{tab.pk}}/delete'>Delete</a></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>
<hr/>

{% if Net_table %}
<h1>Cash from Petrol/Diesel Sales</h1>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class="panel-heading"> Cash From Petrol/Diesel Sales</div>
        <table class = 'table table-bordered'>
          <thead>
            <tr>
              <th>Petrol</th>
              <th>Diesel</th>
            </tr>
          </thead>
          <tbody>
            {% for net in Net_table %}
            <tr>
              <td>{{net.Cash_from_Petrol_sales}}</td>
              <td>{{net.Cash_from_Diesel_sales}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% else %}
{% if not already_committed %}
<div class="container">
  <div class = 'row'>
    <div class = 'col-md-9'>
      <div class = 'panel panel-primary'>
        <div class = 'panel-heading'>
          <h3 class = 'panel-title'>Add Rates</h3>
        </div>
        <div class = 'panel-body'>
            <form method = 'POST' action = ''>
              {% csrf_token %}
                {{Rates_form}}
            <input type ='submit' value = 'submit'/>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% endif %}
<hr/>
</div>
{% endblock %}
