{% extends "basepetrol.html" %}

{% block title %}Sales Form{% endblock %}

{% block content %}
{% if not already_committed %}
  <div class="container">
    <div class = 'row'>
      <div class = 'col-md-9'>
        <div class = 'panel panel-primary'>
          <div class="panel-heading">
            <h3 class="panel-title">Add Entry</h3>
          </div>
              <div class = 'panel-body'>
                <form method= 'POST' action = ''>
                  {% csrf_token %}
                  {{SalesForm}}
                <input type = 'submit' value ='submit'/>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  {% endif %}

    {% if table %}
    <h1> Meter Readings</h1>
    <!-- <div class = 'container'> -->
      <div class = 'row'>
        <div class = 'col-md-9'>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Pump Name</th>
                <th>Opening Reading</th>
                <th>Closing Reading</th>
                <th>Gross Sales</th>
              </tr>
          </thead>
        <tbody>
          {% for tab in table %}
          <tr>
            <td>{{tab.Date}}</td>
            <td>{{tab.Pump_name}}</td>
            <td>{{tab.Opening_reading}}</td>
            <td>{{tab.Closing_reading}}</td>
            <td>{{tab.Gross_sales}}</td>
            {% if not already_committed %}
            <td><a href = '/CashFlow/SalesForm/{{tab.pk}}/Delete'>Delete</a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<!-- </div> -->
    {% endif %}
    {% if message %}
  <!-- <div class = 'container'> -->
    <div class =  'row'>
      <div class ='alert alert-info'>
        <p><a href = 'CashFlow/SalesForm/Rates'>{{message}}</a></p>
      </div>
    </div>
  <!-- </div> -->
    {% endif %}

{% endblock %}
