{% extends "basepetrol.html" %}

{% block title %}Summary Table{% endblock %}

{% block content %}


<!-- SUMMARY -->
<h2> Overall Summary</h2>
<div class="summary">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <h3>{{Total}}</h3>
          <p>Total Cash Sales</p>
        </div>
      </div>
    </div>
    <a href = '{% url 'Credit' %}'>
    <div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-body">
          <h3>{{Tot_credit}}</h3>
          <div class = 'row'>
            <div class = 'col-md-12'>
              <p>Credit Sales</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <a href = '{% url 'Expenditure' %}'>
    <div class="col-md-3">
      <div class="panel panel-info">
        <div class="panel-body">
          <h3>{{expenses}}</h3>
          <div class = 'row'>
            <div class ='col-md-12'>
              <p>Total Expenses</p>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="panel-body">
          <h3>{{Cash_Balance}}</h3>
          <p>Closing Cash Balance</p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<!-- SUMMARY END -->

<h2> Petrol/Diesel Sale Summary</h2>
<div class="summary">
  <div class="row">
    <div class="col-md-6">
      <a href = '{% url 'calculate_daily_sales' %}'>
      <div class="panel panel-danger">
        <div class="panel-body">
          <h3>{{netpetrol}}</h3>
          <div class = 'row'>
            <div class = 'col-md-12'>
              <p>Net Petrol Sales</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    </div>
        <div class="col-md-6">
          <a href = '{% url 'calculate_daily_sales' %}'>
          <div class="panel panel-success">
            <div class="panel-body">
              <h3>{{netdiesel}}</h3>
              <div class = 'row'>
                <div class = 'col-md-12'>
                  <p>Net Diesel Sales</p>
                </div>
              </div>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>

      {% if dip_convertor %}
      {% for total in dip_convertor %}
      <h3> Closing Dip Calculations<small><a href = '{% url 'closing-dip' %}'> Details</a></h3>
      <div class="summary">
        <div class="row">
          <a href = '{% url 'closing-dip' %}'>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class = 'row'>
                  <div class = 'col-md-12'>
                    <p> 16 KL Petrol</p>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-md-6'>
                    <h3>{{total.Petrol_16kl_closing_dip}}</h3>
                  </div>
                  <div class = 'col-md-6'>
                    <h3>{{total.Petrol_16kl_closing_litres}}</h3>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-md-6'>
                    <p>Dip</p>
                  </div>
                  <div class =  'col-md-6'>
                    <p>Litres</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href = '{% url 'closing-dip' %}'>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class = 'row'>
                  <div class = 'col-md-12'>
                    <p> 16 KL Diesel</p>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-md-6'>
                    <h3>{{total.Diesel_16kl_closing_dip}}</h3>
                  </div>
                  <div class = 'col-md-6'>
                    <h3>{{total.Diesel_16kl_closing_litres}}</h3>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-md-6'>
                    <p>Dip</p>
                  </div>
                  <div class =  'col-md-6'>
                    <p>Litres</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a href = '{% url 'closing-dip' %}'>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class = 'row'>
                  <div class = 'col-md-12'>
                    <p> 22 KL Diesel</p>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-md-6'>
                    <h3>{{total.Diesel_22kl_closing_dip}}</h3>
                  </div>
                  <div class = 'col-md-6'>
                    <h3>{{total.Diesel_22kl_closing_litres}}</h3>
                  </div>
                </div>
                <div class = 'row'>
                  <div class = 'col-md-6'>
                    <p>Dip</p>
                  </div>
                  <div class =  'col-md-6'>
                    <p>Litres</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
     </div>
     {% endfor %}
     {% endif %}

{% if Dip_Purchaser %}
{% for total in Dip_Purchaser %}
<h3> Dip Purchase <small><a href = '{% url 'dip-purchase' %}'> Details</a></small></h3>
<div class="summary">
  <div class="row">
    <a href = '{% url 'dip-purchase' %}'>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class = 'row'>
            <div class = 'col-md-12'>
              <h3>{{total.Petrol_16kl_purchase}}</h3>
            </div>
          </div>
          <div class = 'row'>
            <div class ='col-md-12'>
              <p> 16 KL Petrol Dip Purchase </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href = '{% url 'dip-purchase' %}'>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class = 'row'>
            <div class = 'col-md-12'>
              <h3>{{total.Diesel_22kl_purchase}}</h3>
            </div>
          </div>
          <div class = 'row'>
            <div class ='col-md-12'>
              <p> 22 KL Diesel Dip Purchase </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href = '{% url 'dip-purchase' %}'>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class = 'row'>
            <div class = 'col-md-12'>
              <h3>{{total.Diesel_16kl_purchase}}</h3>
            </div>
          </div>
          <div class = 'row'>
            <div class ='col-md-12'>
              <p> 16 KL Diesel Dip Purchase </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  </div>
</div>
    {% endfor %}
    {% endif %}
    <hr/>

{% if cash_other %}

<h2> Revenue From Other Streams</h2>
  <div class="summary">
    <div class="row">
      <div class="col-md-4">
        <a href = '{% url 'other_revenue' %}'>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class = 'row'>
              <div class = 'col-md-12'>
                <h3>{{cash_other}}</h3>
              </div>
            </div>
            <div class = 'row'>
              <div class = 'col-md-12'>
                <h4> Income from other revenue</h4>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
      {% endif %}
      {% if cash_credit %}
      <div class="col-md-4">
        <a href = '{% url 'cash_from_credit' %}'>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class = 'row'>
              <div class = 'col-md-12'>
                <h3>{{cash_credit}}</h3>
              </div>
            </div>
            <div class = 'row'>
              <div class = 'col-md-12'>
                <h4>Cash From Previous Credit Sales</h4>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
        {% endif %}
    {% if total_credit_card %}
        <div class="col-md-4">
          <a href = '{% url 'Credit_Card' %}'>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class = 'row'>
                <div class = 'col-md-12'>
                  <h3>{{total_credit_card}}</h3>
                </div>
              </div>
              <div class = 'row'>
                <div class = 'col-md-12'>
                  <h4> Total Credit Card Payments</h4>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

    {% endif %}

{% if manager %}
        {% if not already_committed %}
  <div class = 'row'>
    <div class = 'col-md-4'>
      <a href = '{% url 'Commit-All' %}' type = 'button' class="btn btn-success">Commit and save details </a></p>
        {% else  %}
        <div class = 'alert alert-info'>
        <p> Details already Committed</p>
        </div>
      </div>
    </div>
        {% endif %}
{% endif %}


{% endblock %}
